# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Generated data and outputs (re-created by training)
data/*.csv
outputs/*.png
outputs/*.jpg

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
